In [ ]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\kkr\anaconda3\lib\site-packages (from selenium) (1.25.9)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [ ]:
# 1. 모듈 가져오기
import pandas as pd
import numpy as np
from selenium import webdriver as wd

In [ ]:
path = 'C:/Users/kkr/Desktop/데이터분석_미니프로젝트/crawling-20200729T124129Z-001/crawling/data/kosdaq_top10_list.csv'
kosdaq10 = pd.read_csv( path, encoding='utf-8' )
kosdaq10

   Unnamed: 0    종목코드   종목명_x     현재가   종목명_y     저가         등락율
0         470   54780    키이스트   15400    키이스트   1435  973.170732
1          60   12790    신일제약   44750    신일제약   4500  894.444444
2        1304  297090  씨에스베어링   23700  씨에스베어링   3395  598.085420
3        1086  205470    휴마시스   11600    휴마시스   1715  576.384840
4          88   17650    대림제지    7160    대림제지   1065  572.300469
5         249   36810   에프에스티   27550   에프에스티   4325  536.994220
6         812  100130   동국S&C    7340   동국S&C   1300  464.615385
7        1061  196170    알테오젠  308700    알테오젠  58500  427.692308
8        1285  288620   에스퓨얼셀   47800   에스퓨얼셀   9940  380.885312
9         737   89980  상아프론테크   37000  상아프론테크   7750  377.419355

In [ ]:
del kosdaq10['Unnamed: 0']

In [ ]:
kosdaq10['종목코드'] = kosdaq10['종목코드'].astype("str")

In [ ]:
kosdaq10

     종목코드   종목명_x     현재가   종목명_y     저가         등락율
0   54780    키이스트   15400    키이스트   1435  973.170732
1   12790    신일제약   44750    신일제약   4500  894.444444
2  297090  씨에스베어링   23700  씨에스베어링   3395  598.085420
3  205470    휴마시스   11600    휴마시스   1715  576.384840
4   17650    대림제지    7160    대림제지   1065  572.300469
5   36810   에프에스티   27550   에프에스티   4325  536.994220
6  100130   동국S&C    7340   동국S&C   1300  464.615385
7  196170    알테오젠  308700    알테오젠  58500  427.692308
8  288620   에스퓨얼셀   47800   에스퓨얼셀   9940  380.885312
9   89980  상아프론테크   37000  상아프론테크   7750  377.419355

In [ ]:
# len(kosdaq10['종목코드'][0])
# x.replace(',', '')f"0{x}f"0{x}
# rate = lambda(T) : if (T>200): return(200*exp(-T)); else: return(400*exp(-T))
kosdaq10['종목코드'] = kosdaq10['종목코드'].apply( lambda x : f"0{x}" if len(x)==5 else x)

In [ ]:
kosdaq10.dtypes

종목코드      object
종목명_x     object
현재가        int64
종목명_y     object
저가         int64
등락율      float64
dtype: object

In [ ]:
# tmp = np.array(kosdaq10['종목코드'].tolist())
# kosdaq10['종목코드'].tolist()
np.array(kosdaq10['종목코드'])

array(['054780', '012790', '297090', '205470', '017650', '036810',
       '100130', '196170', '288620', '089980'], dtype=object)

In [ ]:
driver = wd.Chrome('./tool/chromedriver.exe')

In [ ]:
target_site = 'https://finance.naver.com/item/news_news.nhn?code=089980&page=1&sm=title_entity_id.basic&clusterId='
driver.get(target_site)

In [ ]:
pageCount = len(driver.find_elements_by_css_selector('.Nnavi > tbody > tr > td '))
pageCount-1

4

In [ ]:
# 뉴스가 있는 데이터를 기준으로 
# 인덱스와 컬럼에 추가
#         
'''
1개 코드에 대한 작업
                news
2020.07.14    2020.07.14
2020.07.14    2020.07.14
'''
# value_counts
'''
tmp
             news
2020.07.14    3
2020.07.15    5
'''
# 합치고 데이터에 인덱스 날짜(date)로 df를 구성
df['cnt'] = [0] * df.shape[0]
df에서 카운트를 센 tmp의 인덱스와 일치되는  df만 획득하여 값을 세팅 혹 덮기 inplace  문제

In [ ]:
datelist = []
for code in kosdaq10['종목코드'].tolist():        
    target_site = f'https://finance.naver.com/item/news_news.nhn?code={code}&page=1&sm=title_entity_id.basic&clusterId='        
    driver.get(target_site)
    pageCount = len(driver.find_elements_by_css_selector('.Nnavi > tbody > tr > td '))            
    print(code)
    tmplist = []
    for idx in range(1,pageCount):    
        target_site = f'https://finance.naver.com/item/news_news.nhn?code={code}&page={idx}&sm=title_entity_id.basic&clusterId='
        driver.get(target_site)        
        for option in driver.find_elements_by_css_selector('.date'):            
            #print(option.text[:10].replace('.','-'))
            tmplist.append(option.text[:10].replace('.','-'))
    datelist.append(tmplist)

054780
012790
297090
205470
017650
036810
100130
196170
288620
089980

In [ ]:
#for i in range(0, 10):
#    print(len(datelist[i]))
datelist[0]

['2020-07-14',
 '2020-07-13',
 '2020-07-03',
 '2020-06-30',
 '2020-06-24',
 '2020-06-01',
 '2020-06-01',
 '',
 '',
 '',
 '2020-06-01',
 '2020-05-14',
 '2020-05-14',
 '2020-05-13',
 '2020-05-13',
 '',
 '2020-05-13',
 '2020-05-13',
 '2020-04-29',
 '2020-04-13',
 '2020-04-10',
 '2020-04-01',
 '2020-03-03',
 '2020-02-24',
 '2020-02-17',
 '2020-02-14',
 '2020-01-31',
 '2020-01-31',
 '2020-01-19',
 '2020-01-13',
 '2020-01-10',
 '2020-01-08',
 '2020-01-08',
 '2019-12-30',
 '2019-12-30',
 '',
 '2019-12-10',
 '2019-12-10',
 '2019-11-25',
 '2019-11-18',
 '2019-11-18',
 '2019-11-18',
 '2019-11-01',
 '2019-10-18',
 '2019-10-18',
 '',
 '',
 '2019-10-15',
 '2019-10-01',
 '2019-10-01',
 '2019-10-01',
 '2019-09-27',
 '2019-09-27',
 '2019-08-27',
 '2019-08-08',
 '2019-07-30']

In [ ]:
path = 'C:/Users/kkr/Desktop/데이터분석_미니프로젝트/crawling-20200729T124129Z-001/crawling/data/kosdaq_top10.csv'
kosdaq10List = pd.read_csv( path, encoding='utf-8' )
kosdaq10List

,date,name,code,Close,dollar,WTI,NASDAQ,DOW,interest_rate
0,2020-02-14,키이스트,54780,19787,1181.5,52.05,9731.18,29398.08,1.24
1,2020-02-18,키이스트,54780,19136,1182.2,52.05,9732.74,29232.19,1.23
2,2020-02-19,키이스트,54780,19261,1188.1,53.29,9817.18,29348.03,1.24
3,2020-02-20,키이스트,54780,19286,1190.8,53.78,9750.97,29219.98,1.23
4,2020-02-21,키이스트,54780,17858,1197.0,53.38,9576.59,28992.41,1.23
...,...,...,...,...,...,...,...,...,...
1055,2020-07-16,상아프론테크,89980,29750,1200.7,40.75,10473.83,26734.71,0.49
1056,2020-07-17,상아프론테크,89980,29350,1204.1,40.59,10503.19,26671.95,0.46
1057,2020-07-20,상아프론테크,89980,31000,1205.7,40.81,10767.09,26680.87,0.44
1058,2020-07-21,상아프론테크,89980,34050,1203.7,41.96,10680.36,26840.40,0.46
1059,2020-07-22,상아프론테크,89980,37000,1198.1,41.90,10706.13,27005.84,0.45

In [ ]:
baseDF = kosdaq10List[['date']].head(106)
baseDF

           date
0    2020-02-14
1    2020-02-18
2    2020-02-19
3    2020-02-20
4    2020-02-21
..          ...
101  2020-07-16
102  2020-07-17
103  2020-07-20
104  2020-07-21
105  2020-07-22

[106 rows x 1 columns]

In [ ]:
# datelist[0]
count = Counter(datelist[0])
df = pd.DataFrame.from_dict(count, orient='index').reset_index()
df = df.rename(columns={'index':'date', 0:'news'})
df

          date  news
0   2020-07-14     1
1   2020-07-13     1
2   2020-07-03     1
3   2020-06-30     1
4   2020-06-24     1
5   2020-06-01     3
6                  7
7   2020-05-14     2
8   2020-05-13     4
9   2020-04-29     1
10  2020-04-13     1
11  2020-04-10     1
12  2020-04-01     1
13  2020-03-03     1
14  2020-02-24     1
15  2020-02-17     1
16  2020-02-14     1
17  2020-01-31     2
18  2020-01-19     1
19  2020-01-13     1
20  2020-01-10     1
21  2020-01-08     2
22  2019-12-30     2
23  2019-12-10     2
24  2019-11-25     1
25  2019-11-18     3
26  2019-11-01     1
27  2019-10-18     2
28  2019-10-15     1
29  2019-10-01     3
30  2019-09-27     2
31  2019-08-27     1
32  2019-08-08     1
33  2019-07-30     1

In [ ]:
tmp = pd.merge(baseDF, df, on='date', how='left')
tmp

           date  news
0    2020-02-14   1.0
1    2020-02-18   NaN
2    2020-02-19   NaN
3    2020-02-20   NaN
4    2020-02-21   NaN
..          ...   ...
101  2020-07-16   NaN
102  2020-07-17   NaN
103  2020-07-20   NaN
104  2020-07-21   NaN
105  2020-07-22   NaN

[106 rows x 2 columns]

In [ ]:
tmp = tmp.fillna(0)
tmp = tmp.astype({'news': int})
tmp

           date  news
0    2020-02-14     1
1    2020-02-18     0
2    2020-02-19     0
3    2020-02-20     0
4    2020-02-21     0
..          ...   ...
101  2020-07-16     0
102  2020-07-17     0
103  2020-07-20     0
104  2020-07-21     0
105  2020-07-22     0

[106 rows x 2 columns]

In [ ]:
# for문으로 list에 넣기
date10list = list()

for i in range(0, 10):
    # newslist를 순서대로 df로 만듬
    newscounter = Counter(datelist[i])
    df = pd.DataFrame.from_dict(newscounter, orient='index').reset_index()
    df = df.rename(columns={'index':'date', 0:'news'})
    # baseDF와 df를 merger 함
    tmp = pd.merge(baseDF, df, on='date', how='left')
    # 결측치 처리함
    tmp = tmp.fillna(0)
    tmp = tmp.astype({'news': int})
    # 리스트에 append 시킴
    date10list.append(tmp)

In [ ]:
date10list[6]

           date  news
0    2020-02-14     0
1    2020-02-18     2
2    2020-02-19     0
3    2020-02-20     0
4    2020-02-21     0
..          ...   ...
101  2020-07-16     2
102  2020-07-17     1
103  2020-07-20     0
104  2020-07-21     0
105  2020-07-22     0

[106 rows x 2 columns]

In [ ]:
for i in range(0,10):
    date10list[i] = date10list[i].set_index('date')

In [ ]:
date10list[6]

            news
date
2020-02-14     0
2020-02-18     2
2020-02-19     0
2020-02-20     0
2020-02-21     0
...          ...
2020-07-16     2
2020-07-17     1
2020-07-20     0
2020-07-21     0
2020-07-22     0

[106 rows x 1 columns]

In [ ]:
date10listRST = pd.concat(date10list[:])

In [ ]:
#date10listRST= date10listRST.reset_index()
del date10listRST['date']
date10listRST

      news
0        1
1        0
2        0
3        0
4        0
...    ...
1055     0
1056     0
1057     0
1058     0
1059     0

[1060 rows x 1 columns]

In [ ]:
kosdaq10List

,date,name,code,Close,dollar,WTI,NASDAQ,DOW,interest_rate
0,2020-02-14,키이스트,54780,19787,1181.5,52.05,9731.18,29398.08,1.24
1,2020-02-18,키이스트,54780,19136,1182.2,52.05,9732.74,29232.19,1.23
2,2020-02-19,키이스트,54780,19261,1188.1,53.29,9817.18,29348.03,1.24
3,2020-02-20,키이스트,54780,19286,1190.8,53.78,9750.97,29219.98,1.23
4,2020-02-21,키이스트,54780,17858,1197.0,53.38,9576.59,28992.41,1.23
...,...,...,...,...,...,...,...,...,...
1055,2020-07-16,상아프론테크,89980,29750,1200.7,40.75,10473.83,26734.71,0.49
1056,2020-07-17,상아프론테크,89980,29350,1204.1,40.59,10503.19,26671.95,0.46
1057,2020-07-20,상아프론테크,89980,31000,1205.7,40.81,10767.09,26680.87,0.44
1058,2020-07-21,상아프론테크,89980,34050,1203.7,41.96,10680.36,26840.40,0.46
1059,2020-07-22,상아프론테크,89980,37000,1198.1,41.90,10706.13,27005.84,0.45

In [ ]:
kosdaq10List['news'] = date10listRST['news']
kosdaq10List

,date,name,code,Close,dollar,WTI,NASDAQ,DOW,interest_rate,news
0,2020-02-14,키이스트,54780,19787,1181.5,52.05,9731.18,29398.08,1.24,1
1,2020-02-18,키이스트,54780,19136,1182.2,52.05,9732.74,29232.19,1.23,0
2,2020-02-19,키이스트,54780,19261,1188.1,53.29,9817.18,29348.03,1.24,0
3,2020-02-20,키이스트,54780,19286,1190.8,53.78,9750.97,29219.98,1.23,0
4,2020-02-21,키이스트,54780,17858,1197.0,53.38,9576.59,28992.41,1.23,0
...,...,...,...,...,...,...,...,...,...,...
1055,2020-07-16,상아프론테크,89980,29750,1200.7,40.75,10473.83,26734.71,0.49,0
1056,2020-07-17,상아프론테크,89980,29350,1204.1,40.59,10503.19,26671.95,0.46,0
1057,2020-07-20,상아프론테크,89980,31000,1205.7,40.81,10767.09,26680.87,0.44,0
1058,2020-07-21,상아프론테크,89980,34050,1203.7,41.96,10680.36,26840.40,0.46,0
1059,2020-07-22,상아프론테크,89980,37000,1198.1,41.90,10706.13,27005.84,0.45,0

In [ ]:
kosdaq10List.to_csv('./kosdaq_top10AddNews.csv', encoding='utf-8')

In [ ]:
kosdaq10List.head(50)

,date,name,code,Close,dollar,WTI,NASDAQ,DOW,interest_rate,news
0,2020-02-14,키이스트,54780,19787,1181.5,52.05,9731.18,29398.08,1.24,1
1,2020-02-18,키이스트,54780,19136,1182.2,52.05,9732.74,29232.19,1.23,0
2,2020-02-19,키이스트,54780,19261,1188.1,53.29,9817.18,29348.03,1.24,0
3,2020-02-20,키이스트,54780,19286,1190.8,53.78,9750.97,29219.98,1.23,0
4,2020-02-21,키이스트,54780,17858,1197.0,53.38,9576.59,28992.41,1.23,0
5,2020-02-24,키이스트,54780,19161,1205.6,51.43,9221.28,27960.80,1.24,1
6,2020-02-25,키이스트,54780,18009,1217.7,49.90,8965.61,27081.36,1.25,0
7,2020-02-26,키이스트,54780,16506,1212.7,48.73,8980.77,26957.59,1.25,0
8,2020-02-27,키이스트,54780,15654,1216.8,47.09,8566.48,25766.64,1.23,0
9,2020-02-28,키이스트,54780,14978,1215.9,44.76,8567.37,25409.36,1.26,0
10,2020-03-02,키이스트,54780,15178,1215.3,46.75,8952.17,26703.32,1.26,0
11,2020-03-03,키이스트,54780,14101,1200.3,47.18,8684.09,25917.41,1.26,1
12,2020-03-04,키이스트,54780,14427,1191.4,46.78,9018.09,27090.86,1.25,0
13,2020-03-05,키이스트,54780,14277,1186.4,45.90,8738.59,26121.28,1.25,0
14,2020-03-06,키이스트,54780,13876,1185.0,41.28,8575.62,25864.78,1.24,0
15,2020-03-09,키이스트,54780,12874,1191.4,31.13,7950.68,23851.02,1.26,0
16,2020-03-10,키이스트,54780,13425,1201.4,34.36,8344.25,25018.16,1.25,0
17,2020-03-11,키이스트,54780,12323,1196.7,32.98,7952.05,23553.22,1.24,0
18,2020-03-12,키이스트,54780,11497,1192.8,31.50,7201.80,21200.62,1.25,0
19,2020-03-13,키이스트,54780,10495,1202.0,31.73,7874.88,23185.62,1.25,0
20,2020-03-16,키이스트,54780,9818,1222.2,28.70,6904.59,20188.52,1.27,0
21,2020-03-17,키이스트,54780,10044,1219.6,26.95,7334.78,21237.38,0.76,0
22,2020-03-18,키이스트,54780,9017,1241.2,20.37,6989.84,19898.92,0.73,0
23,2020-03-19,키이스트,54780,7163,1237.8,25.22,7150.58,20087.19,0.72,0
24,2020-03-20,키이스트,54780,7564,1280.1,22.43,6879.52,19173.98,0.73,0
25,2020-03-23,키이스트,54780,6813,1254.1,23.36,6860.67,18591.93,0.73,0
26,2020-03-24,키이스트,54780,7564,1274.6,24.01,7417.86,20704.91,0.72,0
27,2020-03-25,키이스트,54780,8466,1256.0,24.49,7384.29,21200.55,0.73,0
28,2020-03-26,키이스트,54780,8741,1230.7,22.60,7797.54,22552.17,0.73,0
29,2020-03-27,키이스트,54780,8867,1227.9,21.51,7502.38,21636.78,0.75,0
30,2020-03-30,키이스트,54780,9067,1212.4,20.09,7774.15,22327.48,0.76,0
31,2020-03-31,키이스트,54780,10319,1222.6,20.48,7700.10,21917.16,0.80,0
32,2020-04-01,키이스트,54780,10920,1220.0,20.31,7360.58,20943.51,0.76,1
33,2020-04-02,키이스트,54780,11121,1222.2,25.32,7487.31,21413.44,0.74,0
34,2020-04-03,키이스트,54780,10945,1237.6,28.34,7373.08,21052.53,0.73,0
35,2020-04-06,키이스트,54780,11346,1229.8,26.08,7913.24,22679.99,0.75,0
36,2020-04-07,키이스트,54780,11547,1233.4,23.63,7887.26,22653.86,0.74,0
37,2020-04-08,키이스트,54780,11522,1222.4,25.09,8090.90,23433.57,0.73,0
38,2020-04-09,키이스트,54780,11697,1219.7,22.76,8153.58,23719.37,0.73,0
39,2020-04-13,키이스트,54780,13976,1212.3,22.41,8192.42,23390.77,0.75,1
40,2020-04-14,키이스트,54780,14152,1218.7,20.11,8515.74,23949.76,0.74,0
41,2020-04-16,키이스트,54780,14652,1216.7,19.87,8532.36,23537.68,0.73,0
42,2020-04-17,키이스트,54780,14327,1227.5,18.27,8650.14,24242.49,0.74,0
43,2020-04-20,키이스트,54780,14101,1219.3,-37.63,8560.73,23650.44,0.75,0
44,2020-04-21,키이스트,54780,13425,1218.7,10.01,8263.23,23018.88,0.75,0
45,2020-04-22,키이스트,54780,13350,1231.3,13.78,8495.38,23475.82,0.74,0
46,2020-04-23,키이스트,54780,13350,1235.2,16.50,8494.75,23515.26,0.74,0
47,2020-04-24,키이스트,54780,13350,1232.0,16.94,8634.52,23775.27,0.74,0
48,2020-04-27,키이스트,54780,13350,1235.8,12.78,8730.16,24133.78,0.73,0
49,2020-04-28,키이스트,54780,13350,1230.3,12.34,8607.73,24101.55,0.73,0