In [ ]:
import numpy as np
import pandas as pd

In [ ]:
kospi_list = pd.read_csv('/content/stock_top10.csv', encoding='utf-8')
kospi_list.loc[[0,107, 213, 319, 425] , ['Date',	'name', 'code', 'Adj Close'	]]

           Date     name    code  Adj Close
0    2020-02-14    일진다이아   81000    28500.0
107  2020-02-18      디피씨   26890    10600.0
213  2020-02-18    효성중공업  298040    23800.0
319  2020-02-18  JW중외제약우    1065    29150.0
425  2020-02-18  코오롱머티리얼  144620     1750.0

In [ ]:
kodaq_list = pd.read_csv('/content/kosdaq_top10.csv', encoding='utf-8')

In [ ]:
kodaq_list.head()

         date  name   code  Close  ...    WTI   NASDAQ       DOW  interest_rate
0  2020-02-14  키이스트  54780  19787  ...  52.05  9731.18  29398.08           1.24
1  2020-02-18  키이스트  54780  19136  ...  52.05  9732.74  29232.19           1.23
2  2020-02-19  키이스트  54780  19261  ...  53.29  9817.18  29348.03           1.24
3  2020-02-20  키이스트  54780  19286  ...  53.78  9750.97  29219.98           1.23
4  2020-02-21  키이스트  54780  17858  ...  53.38  9576.59  28992.41           1.23

[5 rows x 9 columns]

In [ ]:
kodaq_list.loc[[0,107, 213, 319, 425] , ['date',	'name', 'code', 'Close'	]]

           date    name    code  Close
0    2020-02-14    키이스트   54780  19787
107  2020-02-18    신일제약   12790   7800
213  2020-02-18  씨에스베어링  297090   7380
319  2020-02-18    휴마시스  205470   1335
425  2020-02-18    대림제지   17650   7700